<!doctype html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title>Share</title>
</head>
<body>
	
	<ul id="imagenes"></ul>

	<script src="/socket.io/socket.io.js"></script>
	<script src="/static/main.js"></script>
</body>
</html>